{% extends 'base.html' %} 
{% block content %}

<div class="detail__img">
    <img src="{{print.image}}" alt="{{print.name}}" />
</div>
<div class="detail__name">
    {% if print.verified_print %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        <span>Verified</span>
    </div>
    {% endif %}
    <h1 class="title">{{print.name}}</h1>
</div>
<div class="detail__container">

    <div class="detail__songs mb-5">
        {% for card in print.cards.all %}
        <div class="song">
            <!-- <span>{{forloop.counter}}</span> -->
            <figure class="image is-square">
                <img src="{{card.image}}" alt="{{card.name}}" />
            </figure>
            <span><b>{{card.name}}</b></span><br>
            <span>${{card.price}}</span>
         <!-- </div>
		{% empty %}
        <article class="message">
            <div class="message-header">
                 <p>No Cards Available</p> 
            </div>
        </article>  -->

        {% endfor %}
    </div> 
    <div class="detail__songs mb-5">
        {% for mug in print.mugs.all %}
        <div class="song">
        <figure class="image is-square">
            <img src="{{mug.image}}" alt="{{mug.name}}" />
        </figure>
        <span><b>{{mug.name}}</b></span><br>
        <span>${{mug.price}}</span>
        <!-- </div>
            {% empty %}
        <article class="message">
        <div class="message-header">
            <p>No Mugs Available</p> 
        </div>
        </article> -->

        {% endfor %}
    </div> 
    <div class="detail__songs mb-5">
        {% for photo in print.photos.all %}
        <div class="song">
        <figure class="image is-square">
            <img src="{{photo.image}}" alt="{{photo.name}}" />
        </figure>
        <span><b>{{photo.name}}</b></span><br>
        <span>${{photo.price}}</span>
        <!-- </div>
            {% empty %}
        <article class="message">
        <div class="message-header">
            <p>Photo Available</p> 
        </div>
        </article>-->

        {% endfor %}
    </div> 
    <div class="detail__songs mb-5">
        {% for puzzle in print.puzzles.all %}
        <div class="song">
        <figure class="image is-square">
            <img src="{{puzzle.image}}" alt="{{puzzle.name}}" />
        </figure>
        <span><b>{{puzzle.name}}</b></span><br>
        <span>${{puzzle.price}}</span>
        <!-- </div>
            {% empty %}
        <article class="message">
        <div class="message-header">
            <p>No Puzzles Available</p> 
        </div>
        </article>-->

        {% endfor %}
    </div> 
    <div class="buttons">
    </a>
        <a href="{% url 'print_update' print.pk %}" class="button is-info">
            <span class="icon">
              <i class="fas fa-edit"></i>
            </span>
        <a href="{% url 'print_delete' print.pk %}" class="button is-danger">
          <span class="icon">
            <i class="fas fa-trash-alt"></i>
          </span>
        </a>
    </div>

</div>
{% endblock %}